@inherits LayoutComponentBase

<Layout>
	<AuthorizeView>
		<Authorized>
			<Sider Collapsible Collapsed=@collapsed NoTrigger>
				<div class="logo">
					@if (!String.IsNullOrWhiteSpace(context?.User?.Identity?.Name))
					{

						@if (collapsed)
						{
							<span>@GetInitials(context.User.Identity.Name)</span>
						}
						else
						{
							<span class="truncate">@context.User.Identity.Name</span>
						}
					}
				</div>
				<Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" SelectedKeysChanged="SelectedKeyChanged" DefaultSelectedKeys="@selectedKeys">
					<MenuItem Key="conferences">
						<Icon Type="heat-map" Theme="outline" />
						<span>Contributions</span>
					</MenuItem>
					@if (context.User.IsInRole("admin"))
					{
						<MenuItem Key="speakers">
							<Icon Type="usergroup-add" Theme="outline" />
							<span>Speaker</span>
						</MenuItem>
					}
				</Menu>
			</Sider>
			<Layout Class="site-layout">
				<Header Class="site-layout-background header">
					@if (collapsed)
					{
						<Icon Type="menu-unfold" Theme="outline" Class="trigger" OnClick="toggle" />
					}
					else
					{
						<Icon Type="menu-fold" Theme="outline" Class="trigger" OnClick="toggle" />
					}
					<div class="spacer"></div>
					<Icon Type="logout" Theme="outline" Class=logout OnClick="BeginSignOut" />
				</Header>
				<Content Class="site-layout-background content">
					@Body
				</Content>
			</Layout>
		</Authorized>
		<NotAuthorized>
			<Header Class="site-layout-background">
			</Header>
			<Content Class="site-layout-background content center">
				@Body
			</Content>
		</NotAuthorized>
	</AuthorizeView>
</Layout>